{% extends 'blog/base.html'%}
{% block contents %}
<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for post in post_page %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <br>
            {% if post.image %}
            <img src="{{post.image.url}}" height=200 alt="사진">
            {% else %}
            <div style="display: flex; justify-content: center;">
                <img src= "../../static/images/logo.jpg" height=200 width=200 align="middle" alt="로고">
            </div>
            
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{post.title}}
              <br><small>물건종류: {{post.item_type}} <br>  습득 장소: {{post.found_place}}</small></p>
              <div class="d-flex justify-content-between align-items-center">
                  <a href="{% url 'detail' post.pk %}" class="btn btn-sm btn-outline-secondary">더 보기</a>
                <small class="text-muted">{{post.created_at}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  
  <div class="container">
    <center>
    <div class="btn-group" role="group" aria-label="Basic example">
        {% if post_page.has_previous %}
        <a href="?page=1" class="btn btn-secondary">First</a>
        <a href="?page={{post_page.previous_page_number}}" class="btn btn-secondary">Previous</a>
        {% endif %}
        {% if post_page.has_next %}
        <a href="?page={{post_page.next_page_number}}" class="btn btn-secondary">Next</a>
        <a href="?page={{post_page.paginator.num_pages}}" class="btn btn-secondary">Last</a>
        {% endif %}
      </div></center>
      <br>
      <center>
  <span>{{post_page.number}}</span>
  <span>of</span>
  <span>{{post_page.paginator.num_pages}}</span>
</center>
  <br>
  
</div>
</div>
</main>
{% endblock %}