<!-- {% extends 'blog/base.html' %}
{% block contents%}
<div class="container mt-5">
    <h1>분실물 올리기</h1>
    <br>
    <form method="POST" enctype='multipart/form-data'>{% csrf_token %}
        {{form.as_p}}<!-- form을 문단형식으로 출력 -->
        <!-- <input type="submit" class="btn btn-dark" value="Submit!"> <!-- submit button must be inside form-->
    <!-- </form>
    <a href="{% url 'home' %}">홈으로 돌아가기</a>
</div>
{% endblock%} -->

<!-- {% extends 'blog/base.html' %}
{% block contents %}
<div class="container mt-5">
    <h1>Edit Page</h1>
    <form method= "POST" enctype='multipart/form-data'>{% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-dark" value='Edit!'>
    </form>
</div>
{% endblock%} -->



